<%= javascript_pack_tag "editorReadOnly" %>

<style media="screen">
  nav { display: none; }
</style>

<div class="content content-in-show">
  <div class="editorjs editorjs-in-show" id="editorReadOnly" data-contents="<%= @content.to_json %>"></div>
  <div class="projects-container projects-container-in-show">
    <% if @content.contentable_type == "Portfolio"  %>
      <% @content.contentable.projects.each do |project| %>
        <div>
          <%#= link_to(project.content) do %>
          <%= link_to(project.content) do %>
            <% if project.cover? %><%= image_tag(project.cover.url)%>
            <% else %><%= image_tag "default.png" %>
            <% end %>
            <h3><%= project.name %></h3>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= button_to(root_path, method: "get", class:"button button-big button-icon-and-words") do %>
    <h3>Сделано в</h3>
    <%= image_tag("logo/short.svg") %>
  <% end %>
</div>


<%#= p @content.content_data["blocks"] %>

<%# @content.content_data.each_pair do |key, value| %>
 <%#= key %>
 <%#= value %>
<%# end %>
