<div class="index-outer-container">
  <div class="account-container">
    <h1>Мой аккаунт</h1>

    <div>
      <% if user_signed_in? %>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="input">
            <h3>Email</h3>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="input">
            <h3>Имя пользователя</h3>
            <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
          </div>

          <div class="input">
            <h3>Старый пароль (введите, чтобы сохранить изменения)</h3>
            <%= f.password_field :current_password, autocomplete: "current-password" %>
          </div>

          <div class="input">
            <h3>Новый пароль (
              <% if @minimum_password_length %>
                <%= @minimum_password_length %> символов минимум
              <% end %>
              )</h3>
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>

          <div class="input">
            <h3>Подтвердить новый пароль</h3>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <button class="button button-big button-words">
            <%= f.submit "Сохранить изменения" %>
          </button>
        <% end %>

        <button class="button button-big button-words">
          <%= link_to(destroy_user_session_path, method: :delete) do %>
            <h3>Выйти</h3>
          <% end %>
        </button>

        <button class="button button-small button-danger">
          <%= button_to "Удалить мой аккаунт", registration_path(resource_name), data: { confirm: "Вы хотите удалить свой аккаунт?" }, method: :delete %>
        </button>
      <% end %>
    </div>

  </div>
</div>
