<div class="landing_content_container">
  <%= image_tag("logo/long.svg", class:"logo") %>

  <div class="landing-header">
    <h1>Создайте личный сайт в Port–Folio </h1>
    <%= image_tag "landing/first_arrow.svg" %>
  </div>

  <div class="auth_panel">
    <div class="auth">
      <ul class="bar bar-not-fixed bar-with-two-tabs">
        <li class="tablink active">
          <div></div>
          <h3>Регистрация</h3>
        </li>
        <li class="tablink">
          <div></div>
          <%- if controller_name != 'sessions' %>
            <%= link_to new_session_path(resource_name) do %>
              <h3>Вход</h3>
            <% end %>
          <% end %>
        </li>
      </ul>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="input">
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Имя пользователя" %>
        </div>

        <div class="input">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
        </div>

        <div class="input">
          <!-- <h3>Пароль -->
            <%# if @minimum_password_length %>
              <!-- (
              <%#= @minimum_password_length %>
              символов минимум)  -->
            <%# end %>
          <!-- </h3> -->
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "Пароль (6 символов минимум)" %>
        </div>

        <div class="input">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Повторите пароль" %>
        </div>

        <div>
          <p class="confirmation">Нажимая «Зарегистрироваться», вы даете свое согласие на <%= link_to("обработку данных", privacy_path, class:"link") %></p>
        </div>

        <button class="button button-big">
          <%= f.submit "Зарегистрироваться" %>
        </button>
      <% end %>

      <%- if controller_name != 'sessions' %>
        <div>
          <%= link_to new_session_path(resource_name) do %>
            <p class="link">Уже зарегистрированы?</p>
          <% end %>
        </div>
      <% end %>

      <%#= render "devise/shared/links" %>
    </div>
  </div>

  <div class="landing-content">
    <div class="landing-video">
      <%= image_tag "landing/video.gif" %>
    </div>
    <%= image_tag "landing/illustration.png" %>
  </div>

  <div class="landing-end">
    <h1>Попробуйте<br>бета-версию</h1><br><br>
    <div id="last_arrow_container">
      <%= image_tag "landing/last_arrow.svg" %>
    </div>
  </div>

  <div class="auth_panel">
    <div class="auth">
      <ul class="bar bar-not-fixed bar-with-two-tabs">
        <li class="tablink active">
          <div></div>
          <h3>Регистрация</h3>
        </li>
        <li class="tablink">
          <div></div>
          <%- if controller_name != 'sessions' %>
            <%= link_to new_session_path(resource_name) do %>
              <h3>Вход</h3>
            <% end %>
          <% end %>
        </li>
      </ul>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="input">
          <!-- <h3>Имя пользователя</h3> -->
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Имя пользователя" %>
        </div>

        <div class="input">
          <!-- <h3>Email</h3> -->
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
        </div>

        <div class="input">
          <!-- <h3>Пароль -->
            <%# if @minimum_password_length %>
              <!-- (
              <%#= @minimum_password_length %>
              символов минимум)  -->
            <%# end %>
          <!-- </h3> -->
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "Пароль (6 символов минимум)" %>
        </div>

        <div class="input">
          <!-- <h3>Повторите пароль</h3> -->
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Повторите пароль" %>
        </div>

        <div>
          <p class="confirmation">Нажимая «Зарегистрироваться», вы даете свое согласие на <%= link_to("обработку данных", privacy_path, class:"link") %></p>
        </div>

        <button class="button button-big">
          <%= f.submit "Зарегистрироваться" %>
        </button>
      <% end %>

      <%- if controller_name != 'sessions' %>
        <div class="">
          <%= link_to new_session_path(resource_name) do %>
            <p class="link">Уже зарегистрированы?</p>
          <% end %>
        </div>
      <% end %>

      <%#= render "devise/shared/links" %>
    </div>
  </div>
</div>
