<%= form_with(model: portfolio, local: true) do |form| %>
  <% if portfolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>

      <ul>
        <% portfolio.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="editor">
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :body %>
      <%= form.text_area :body %>
    </div>
  </div>

  <div class="edit">
    <div class="tabs">
      <button type="button" name="button">Настройки</button>
      <button type="button" name="button">Оформление</button>
      <button type="button" name="button">Контент</button>
    </div>

    <div class="settings">
      <div class="field">
        <%= form.label "Название портфолио (видно только вам)" %>
        <%= form.text_field :name %>
      </div>

      <div class="field">
        <%= form.label "Описание (видно только вам)" %>
        <%= form.text_area :description %>
      </div>

      <div>
        <%= form.label 'Резюме' %>
        <%= link_to 'Связать с резюме' %>
      </div>

      <div>
        <%= form.label 'Проекты' %>
        <%= link_to 'Добавить проект' %>
      </div>
    </div>

    <div class="decoration">
    </div>

    <div class="content">
    </div>
  </div>

  <div class="toolbar">
    <div class="field">
      <%= form.select :language, options_for_select([["Ru"], ["Eng"]]), {}, {:class => 'custom-select'}%>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>


  <div class="field">
    <%#= form.label :cover %>
    <%#= form.file_field :cover %>
  </div>

<% end %>
