<%= form_with(model: portfolio, local: true) do |form| %>
  <div class="outer-container">
    <div class="notification">
      <% if portfolio.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>

          <ul>
            <% portfolio.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <div class="edit-inner-container">

      <div class="topbar">
        <div class="editor-tabs">
          <%= form.select :language, options_for_select([["Ru"], ["Eng"]]), {}, {:class => 'custom-select'}%>
        </div>

        <div class="constructor-tabs">
          <h3 class="tablinks" id="defaultTab" onclick="openTab(event, 'settings')">Настройки</h3>
          <h3 class="tablinks" onclick="openTab(event, 'decoration')">Оформление</h3>
          <h3 class="tablinks" onclick="openTab(event, 'content')">Контент</h3>
        </div>
      </div>

      <div class="editor">
        <div class="editorjs" id="editorjs"></div>
          <%#= form.text_field :title, class: 'field', placeholder: "Новое портфолио" %>
          <%#= form.text_area :body, class: 'field', placeholder: "Напишите немного о себе и добавьте проекты" %>

          <div class="editor-projects-container">
            <% portfolio.projects.each do |project| %>
              <% if current_user.projects.include?(project) %>
                <div>
                  <%= image_tag project.cover.url %>
                  <h3>
                    <%= project.title %>
                  </h3>
                </div>
              <% end %>
            <% end %>
          </div>
      </div>

      <div class="constructor">
        <div class="tabContent" id="settings">
          <div class="input">
            <h3>Название портфолио (видно только вам)</h3>
            <%= form.text_field :name, placeholder: "Новое портфолио" %>
          </div>

          <div class="input">
            <h3>Описание (видно только вам)</h3>
            <%= form.text_area :description, placeholder: "Здесь будет описание" %>
          </div>

          <div class="tabs-list">
            <div class="tabs-list-header">
              <h3>Резюме</h3>
              <%= link_to(new_portfolio_path, class: "button") do%>
                <%= image_tag "icons/button/add/default.svg" %>
                <h3>Связать с резюме</h3>
              <% end %>
            </div>

            <% portfolio.resumes.each do |resume| %>
              <div class="tabs-list-item">
                <%= image_tag resume.cover.url, :class => 'miniature' %>
                <p><%= resume.name %></p>
              </div>

              <div class="divider-line"></div>
            <% end %>
          </div>

          <div class="tabs-list">
            <div class="tabs-list-header" id="specialButton" onclick="showBlock()">
              <h3>Проекты</h3>
              <%= link_to("#", class: "button") do%>
                <%= image_tag "icons/button/add/default.svg" %>
                <h3>Добавить проект</h3>
              <% end %>
            </div>

            <% portfolio.projects.each do |project| %>
              <% if current_user.projects.include?(project) %>
                <div class="tabs-list-item">
                  <%= image_tag project.cover.url, :class => 'miniature' %>
                  <p><%= project.title %></p>
                  <%#= project.id %>
                </div>

                <div class="divider-line"></div>
              <% end %>
            <% end %>
          </div>

          <div id="addProjectToPortfolio">
            <%= form.collection_check_boxes(:project_ids, current_user.projects.all, :id, :title) do |b| %>
              <%= b.label class:"label-checkbox" do %>
                <%= b.check_box + b.text%>
              <% end %>
            <% end %>

            <%#= form.fields_for :project_in_portfolios do |project_in_portfolios_form| %>
              <%#= project_in_portfolios_form.collection_select :project_id, Project.all, :id, :title, prompt: true %>
              <%#= project_in_portfolios_form.check_box :_destroy %>
            <%# end %>

            <%#= form.fields_for :project_in_portfolio, Project_in_portfolio.new do |project_in_portfolio_attributes|%>
              <%#= project_in_portfolio_attributes.text_field :project_id %>
            <%# end %>
          </div>
        </div>

        <div class="tabContent" id="decoration"><p>Coming soon...</p></div>

        <div class="tabContent" id="content"><p>Coming soon...</p></div>

        <div class="bottombar">
          <div>
            <%#= image_tag "icons/button/add/default.svg" %>
            <%= form.submit "Сохранить" %>
          </div>

          <%= link_to(new_portfolio_path, class: "button") do%>
            <%#= image_tag "icons/button/add/default.svg" %>
            <h3>Опубликовать</h3>
          <% end %>

          <%= link_to(new_portfolio_path, class: "button") do%>
            <%#= image_tag "icons/button/add/default.svg" %>
            <h3>Экспортировать</h3>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
