<%= form_with(model: portfolio, local: true) do |form| %>
  <% if portfolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>

      <ul>
        <% portfolio.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="editor">
    <%= form.text_field :title, class: 'field', placeholder: "Новое портфолио" %>
    <%= form.text_area :body, class: 'field', placeholder: "Напишите немного о себе и добавьте проекты" %>

    <% portfolio.projects.each do |project| %>
      <div><%= image_tag project.cover.url %></div>
      <div><%= project.title %></div>
    <% end %>
  </div>

  <div class="tab">
    <div class="tabbar">
      <div class="tablinks" id="defaultTab" onclick="openTab(event, 'settings')">Настройки</div>
      <div class="tablinks" onclick="openTab(event, 'decoration')">Оформление</div>
      <div class="tablinks" onclick="openTab(event, 'content')">Контент</div>
    </div>

    <div class="tabcontent" id="settings">
      <div class="field">
        <%= form.label "Название портфолио (видно только вам)" %>
        <%= form.text_field :name %>
      </div>

      <div class="field">
        <%= form.label "Описание (видно только вам)" %>
        <%= form.text_area :description %>
      </div>

      <div>
        <%= form.label 'Резюме' %>
        <%= link_to '+ Связать с резюме' %>
        <% portfolio.resumes.each do |resume| %>
          <div>
            <%= resume.name %>
          </div>
        <% end %>
      </div>

      <br>

      <div>
        <%= form.label 'Проекты' %>
        <%= link_to '+ Добавить проект' %>
        <% portfolio.projects.each do |project| %>
          <div>
            <%= image_tag project.cover.url, :class => 'miniature' %>
            <%= project.title %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="tabcontent" id="decoration">Coming soon...</div>

    <div class="tabcontent" id="content">Coming soon...</div>
  </div>

  <div class="toolbar">
    <div class="field">
      <%= form.select :language, options_for_select([["Ru"], ["Eng"]]), {}, {:class => 'custom-select'}%>
    </div>

    <div class="actions">
      <%= form.submit "Сохранить портфолио" %>
    </div>
  </div>


  <div class="field">
    <%#= form.label :cover %>
    <%#= form.file_field :cover %>
  </div>

<% end %>
