<div class="index-outer-container">
  <div class="index-inner-container">
    <%#= notice %>
    <h1>Мои портфолио</h1>

    <% @portfolios.each do |portfolio| %>
      <div class="card card-long">
        <%= link_to edit_portfolio_path(portfolio) do %>
          <div class="card-header">
            <h2><%= portfolio.name %></h2>
          </div>

          <div class="card-content">
            <% if portfolio.projects.any? %>
              <div class="card-project-covers-container">
                <% portfolio.projects.each do |project| %>
                  <%= image_tag project.cover.url, class:"miniature" %>
                <% end %>
              </div>
            <% end %>

            <div class="card-description">
              <p><%= portfolio.description %></p>
            </div>
          </div>
        <% end %>
        <div class="button-options"
        onclick="showOptions(<%= portfolio.id %>)"
        onmouseleave="hideOptions(<%= portfolio.id %>)">
          <%= image_tag "icons/options.svg" %>
        </div>
      </div>

      <ul class="options" id="<%= portfolio.id %>">
        <li>
          <%= link_to(copy_portfolio_path(:id => portfolio.id), method: :post, controller: "portfolios", action: "copy") do %>
            <h3>Создать копию</h3>
          <% end %>
        </li>
        <li>
          <%= link_to(portfolio, method: :delete, data: { confirm: 'Are you sure?' }) do %>
            <h3>Удалить</h3>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>

  <div class="index-buttons-container">
    <button class="button button-big">
      <%= link_to(new_portfolio_path) do%>
        <%= image_tag "icons/search.svg" %>
      <% end %>
    </button>

    <button class="button button-big">
      <%= link_to(new_portfolio_path) do%>
        <%= image_tag "icons/add.svg" %>
      <% end %>
    </button>
  </div>
</div>
