<p id="notice"><%= notice %></p>

<%= link_to 'Поиск по портфолио' %>
<%= link_to 'Создать портфолио', new_portfolio_path %>

<h1>Мои портфолио</h1>

<% @portfolios.each do |portfolio| %>
  <%= link_to edit_portfolio_path(portfolio) do %>
    <div><%#= portfolio.cover %></div>
    <div>
      <div><%= portfolio.name %></div>
      <div><%= portfolio.description %></div>
    </div>
  <% end %>

  <div>
    <%= link_to 'Копировать' %>
    <%= link_to 'Экспортировать' %>
    <%= link_to 'Удалить', portfolio, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>

<br>
