<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="settings">
    <div class="field">
      <%= form.label :cover %>
      <%= form.file_field :cover %>

      <% if project.cover? %>
        <%= image_tag project.cover.url %>
        <div>
          Remove cover
          <%= form.check_box :remove_cover %>
        </div>
      <% end %>
    </div>

    <div>
      <%= form.label 'Портфолио' %>
      <%= link_to 'Добавить в портфолио' %>
    </div>
  </div>

  <div class="decoration">
  </div>

  <div class="content">
  </div>

  <div class="toolbar">
    <div class="field">
      <%= form.label :language %>
      <%= form.select :language, options_for_select([["Ru"], ["Eng"]]), {}, {:class => 'custom-select'}%>
    </div>
  </div>

  <div class="field">
    <%#= form.label :title %>
    <%#= form.text_field :title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
