<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="buttons">
    <%= link_to 'Поиск по проектам' %>
    <%= link_to 'Создать проект', new_project_path %>
  </div>

  <h1>Мои проекты</h1>

  <% current_user.projects.each do |project| %>
    <%= link_to edit_project_path(project) do %>
      <div><%= image_tag project.cover.url %></div>
      <div><%= project.title %></div>
    <% end %>

    <div>
      <%= link_to 'Экспортировать' %>
      <%= link_to 'Удалить', project, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>

    <br>
  <% end %>

</div>
