<div class="index-outer-container">
  <div class="index-inner-container">
    <%#= notice %>
    <h1>Мои проекты</h1>

    <div class="card-project-container">
      <% @projects.each do |project| %>
        <div class="card card-project">
          <%= link_to edit_project_path(project) do %>
            <div class="card-cover">
              <%= image_tag project.cover.url %>
            </div>
            <div class="card-header">
              <h3><%= project.name %></h3>
            </div>
          <% end %>

          <div class="button-options"
          onclick="showOptions(<%= project.id %>)"
          onmouseleave="hideOptions(<%= project.id %>)">
            <%= image_tag "icons/card/options.svg" %>
          </div>
        </div>

        <ul class="options" id="<%= project.id %>">
          <!-- <li> -->
            <%#= link_to(project_path(:id => project.id), method: :post, controller: "projects", action: "copy") do %>
              <!-- <h3>Создать копию</h3> -->
            <%# end %>
          <!-- </li> -->
          <li>
            <%= link_to(project, method: :delete, data: { confirm: 'Are you sure?' }) do %>
              <h3>Удалить</h3>
            <% end %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>

    <div class="index-buttons-container">
      <button class="button button-big">
        <%= link_to(new_project_path) do%>
          <%= image_tag "icons/button/search/default.svg" %>
        <% end %>
      </button>

      <button class="button button-big">
        <%= link_to(new_project_path) do%>
          <%= image_tag "icons/button/add/default.svg" %>
        <% end %>
      </button>
</div>
