<%= form_with(model: resume, local: true) do |form| %>
  <% if resume.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

      <ul>
        <% resume.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="editor">
    <%= form.text_field :title, class: 'field', placeholder: "Новое резюме" %>
    <%= form.text_area :body, class: 'field', placeholder: "Опишите свой опыт" %>
  </div>

  <div class="tab">
    <div class="tabbar">
      <div class="tablinks active" onclick="openTab(event, 'settings')">Настройки</div>
      <div class="tablinks" onclick="openTab(event, 'decoration')">Оформление</div>
      <div class="tablinks" onclick="openTab(event, 'content')">Контент</div>
    </div>

    <div class="tabcontent" id="settings" style="display: block;">
      <div class="field">
        <%= form.label "Название резюме (видно только вам)" %>
        <%= form.text_field :name %>
      </div>

      <div class="field">
        <%= form.label "Описание (видно только вам)" %>
        <%= form.text_area :description %>
      </div>

      <div>
        <%= form.label 'Портфолио' %>
        <%= link_to '+ Добавить портфолио' %>
        <% resume.portfolios.each do |portfolio| %>
          <div>
            <%#= image_tag portfolio.cover.url, :class => 'miniature' %>
            <%= portfolio.name %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="tabcontent" id="decoration">Coming soon...</div>

    <div class="tabcontent" id="content">Coming soon...</div>
  </div>

  <div class="toolbar">
    <div class="field">
      <%= form.select :language, options_for_select([["Ru"], ["Eng"]]), {}, {:class => 'custom-select'}%>
    </div>

    <div class="actions">
      <%= form.submit "Сохранить резюме" %>
    </div>
  </div>
<% end %>
