<%= form_with(model: resume, local: true) do |form| %>
  <div class="notification">
    <% if resume.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

        <ul>
          <% resume.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="edit-page-container">
    <div class="preview-container">
      <div class="status">
        <p class="disabled"><%= resume.name %></p>
        <p class="disabled">Изменения сохранены</p>
      </div>

      <div class="contents-container contents-container-in-preview">
        <div class="browswer-bar">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="content content-in-preview">
          <div
            class="editorjs editorjs-in-preview"
            id="editorResume"
            data-contents="<%= @resume.content.to_json %>"
            data-url="<%= url_for(@resume.content) %>">
          </div>
        </div>
      </div>

      <div id="bar-preview-wrapper">
        <ul class="bar bar-bottom bar-with-three-tabs" id="bar-preview">
          <li class="tablink preview-tablink active">
            <div></div>
            <%= image_tag "icons/preview/desktop.svg" %>
          </li>
          <li class="tablink preview-tablink">
            <div></div>
            <%= image_tag "icons/preview/mobile.svg" %>
          </li>
          <li class="tablink preview-tablink">
            <div></div>
            <%= image_tag "icons/preview/fullscreen.svg" %>
          </li>
        </ul>
      </div>

      <div class="panel" id="panelAddProjects"></div>
    </div>

    <div class="constructor-container">
      <ul class="bar bar-top bar-with-two-tabs">
        <li class="tablink constructor-tablink" id="defaultTab" onclick="openTab(event, 'settings')">
          <h3>Настройки</h3>
          <div></div>
        </li>

        <li class="tablink constructor-tablink" onclick="openTab(event, 'decoration')">
          <h3>Оформление</h3>
          <div></div>
        </li>
      </ul>

      <div class="constructor" id="settings">
        <div class="input">
          <h3>Название резюме (видно только вам)</h3>
          <%= form.text_field :name, placeholder: "Новое резюме" %>
        </div>

        <div class="input">
          <h3>Описание (видно только вам)</h3>
          <%= form.text_area :description, placeholder: "Здесь будет описание" %>
        </div>

        <div class="tabs-list">
          <div class="tabs-list-header">
            <div>
              <%= image_tag "icons/nav/portfolio.svg" %>
              <h3>Портфолио</h3>
            </div>

            <div class="button button-medium" onclick="showAddResumeToPortfolio()">
              <%= image_tag "icons/add.svg" %>
              <h3>Связать с портфолио</h3>
            </div>
          </div>

          <% resume.portfolios.each do |portfolio| %>
            <div class="tabs-list-item">
              <p><%= portfolio.name %></p>
            </div>

            <div class="divider-line"></div>
          <% end %>
        </div>
      </div>

      <div class="constructor" id="decoration"><div><p>Coming soon...</p></div></div>

      <div class="bar bar-bottom">
        <div class="button" >
          <%= image_tag "icons/add.svg" %>
          <%= form.submit "Сохранить" %>
        </div>

        <div id="exportButton" class="button" onclick="openExportPanel()">
          <%= image_tag "icons/add.svg" %>
          <h3>Экспортировать</h3>
        </div>
      </div>

      <div class="panel" id="exportPanel">
        <div id="iconRemove">
          <%= image_tag "icons/remove.svg" %>
        </div>

        <p>Ваше резюме доступно по ссылке<br>
          <a href="http://localhost:3000/<%= @resume.content.id %>-<%= @resume.content.contentable_type.downcase %>">
          www.p-f.to/<%= @resume.content.id %>-<%= @resume.content.contentable_type.downcase %>
        </a></p>

        <button class="button button-big">
          <%= image_tag "icons/copy.svg" %>
          <h3>Скопировать ссылку</h3>
        </button>
        <button class="button button-big">
          <%= image_tag "icons/download.svg" %>
          <h3>Сохранить в PDF</h3>
        </button>
      </div>
    </div>
  </div>
<% end %>
