<%= form_with(model: resume, local: true) do |form| %>
  <div class="outer-container">
    <div class="notification">
      <% if resume.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

          <ul>
            <% resume.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <div class="edit-inner-container">
      <div class="contents-container">
        <div class="editorjs" id="editorResume" data-contents="<%= @resume.content.to_json %>" data-url="<%= url_for(@resume.content) %>"></div>
      </div>

      <div class="constructor">
        <div class="tabContent" id="settings">
          <div class="input">
            <h3>Название резюме (видно только вам)</h3>
            <%= form.text_field :name, placeholder: "Новое резюме" %>
          </div>

          <div class="input">
            <h3>Описание (видно только вам)</h3>
            <%= form.text_area :description, placeholder: "Здесь будет описание" %>
          </div>

          <div class="tabs-list">
            <div class="tabs-list-header">
              <div>
                <%= image_tag "icons/menu/portfolios/default.svg" %>
                <h3>Портфолио</h3>
              </div>

              <div class="button button-small" onclick="showAddResumeToPortfolio()">
                <%= image_tag "icons/button/add/default.svg" %>
                <h3>Связать с портфолио</h3>
              </div>
            </div>

            <% resume.portfolios.each do |portfolio| %>
              <div class="tabs-list-item">
                <p><%= portfolio.name %></p>
              </div>

              <div class="divider-line"></div>
            <% end %>
          </div>
        </div>

        <div id="addPortfolioToResume">
          <%= form.collection_check_boxes(:portfolio_ids, current_user.portfolios.all, :id, :name) do |b| %>
            <%= b.label class:"label-checkbox" do %>
              <%= b.check_box + b.text%>
            <% end %>
          <% end %>
        </div>

        <div class="tabContent" id="decoration"><p>Coming soon...</p></div>

        <div class="tabContent" id="content"><p>Coming soon...</p></div>
      </div>

      <div class="fixed-bars bars-top-container">
        <div class="bars-top bars-top-left"></div>

        <div class="bars-top bars-top-right">
          <div class="tablinks" id="defaultTab" onclick="openTab(event, 'settings')">
            <h3>Настройки</h3>
            <div></div>
          </div>

          <div class="tablinks" onclick="openTab(event, 'decoration')">
            <h3>Оформление</h3>
            <div></div>
          </div>

          <div class="tablinks" onclick="openTab(event, 'content')">
            <h3>Контент</h3>
            <div></div>
          </div>
        </div>
      </div>

      <div class="fixed-bars bars-bottom-container">
        <div class="bars-bottom bars-bottom-left"></div>

        <div class="bars-bottom bars-bottom-right">
          <div class="bars-bottom-right-buttons">
            <div class="button" >
              <%= image_tag "icons/button/add/default.svg" %>
              <%= form.submit "Сохранить" %>
            </div>

            <div id="exportButton" class="button" onclick="openExportPanel()">
              <%= image_tag "icons/button/add/default.svg" %>
              <h3>Экспортировать</h3>
            </div>
          </div>
        </div>

        <div class="export-panel">
          Скопировать ссылку <a href="http://localhost:3000/<%= @resume.content.id %>-<%= @resume.content.contentable_type.downcase %>">
            www.p-f.to/<%= @resume.content.id %>-<%= @resume.content.contentable_type.downcase %>
          </a>
        </div>

      </div>
    </div>
  </div>
<% end %>

<%= javascript_pack_tag "editorResume" %>
<%= javascript_include_tag "tabs"  %>
<%= javascript_include_tag "exportPanel" %>
