<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="buttons">
    <%= link_to 'Поиск по резюме' %>
    <%= link_to 'Создать резюме', new_resume_path %>
  </div>

  <h1>Мои резюме</h1>

  <% @resumes.each do |resume| %>
    <%= link_to edit_resume_path(resume) do %>
      <div><%#= resume.cover %></div>
      <div>
        <div><%= resume.name %></div>
        <div><%= resume.description %></div>
      </div>
    <% end %>

    <div>
      <%= link_to 'Копировать' %>
      <%= link_to 'Экспортировать' %>
      <%= link_to 'Удалить', resume, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>

    <br>
  <% end %>
</div>
