<div class="index-outer-container">
  <div class="index-inner-container">
    <%#= notice %>
    <h1>Мои резюме</h1>

    <%= image_tag "background/resume.png", class: (current_user.resumes.any? ? "background-illustration disabled" : "background-illustration") %>

    <% @resumes.each do |resume| %>
      <div class="card card-long">
        <%= link_to edit_resume_path(resume) do %>
          <div class="card-header">
            <h2><%= resume.name %></h2>
          </div>

          <div class="card-content">
            <div class="card-description">
              <p><%= resume.description %></p>
            </div>
          </div>
        <% end %>
        <div class="button-options"
             data-object_id="<%= resume.id %>">
          <%= image_tag "icons/options.svg" %>
        </div>
      </div>

      <ul class="options" id="<%= resume.id %>">
        <li>
          <%= link_to(copy_resume_path(:id => resume.id), method: :post, controller: "resumes", action: "copy") do %>
            <h3>Создать копию</h3>
          <% end %>
        </li>
        <li>
          <%= link_to(resume, method: :delete, data: { confirm: 'Are you sure?' }) do %>
            <h3>Удалить</h3>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>

  <div class="index-buttons-container">
    <button class="button button-big">
      <%= link_to(new_resume_path) do%>
        <%= image_tag "icons/search.svg" %>
      <% end %>
    </button>

    <button class="button button-big">
      <%= link_to(new_resume_path) do%>
        <%= image_tag "icons/add.svg" %>
      <% end %>
    </button>

    <%= render 'layouts/footer' %>
  </div>
</div>
