<div class="index-outer-container">
  <div class="index-inner-container">
    <%#= notice %>

    <div class="index-buttons-container">
      <%= link_to(new_resume_path, class: "button button-big") do%>
        <%= image_tag "icons/button/search/default.svg" %>
        <h3>Поиск по резюме</h3>
      <% end %>

      <%= link_to(new_resume_path, class: "button button-big") do%>
        <%= image_tag "icons/button/add/default.svg" %>
        <h3>Создать резюме</h3>
      <% end %>
    </div>

    <h1>Мои резюме</h1>

    <% @resumes.each do |resume| %>
      <div class="card">
        <div class="card-cover">
          <%= link_to edit_resume_path(resume) do %>
            <%= image_tag resume.cover.url %>
          <% end %>
        </div>

        <div class="card-text">
          <%= link_to edit_resume_path(resume) do %>
            <h2><%= resume.name %></h2>
            <p><%= resume.description %></p>
          <% end %>
        </div>

        <div class="card-icons-group">
          <%= link_to(copy_resume_path(:id => resume.id), method: :post, controller: "resumes", action: "copy") do %>
            <%= image_tag "icons/card/copy/default@2.png", id: "copyIcon" %>
          <% end %>

          <%= link_to do %>
            <%= image_tag "icons/card/export/default@2.png" %>
          <% end %>

          <%= link_to(resume, method: :delete, data: { confirm: 'Are you sure?' }) do %>
            <%= image_tag "icons/card/options/default@2.png" %>
          <% end %>
        </div>
      </div>

      <div class="divider-line"></div>
    <% end %>
  </div>
</div>
