<!DOCTYPE html>
<html>
  <head>
    <title>P–F</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.png') %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_pack_tag "index" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %>" id="<%= action_name %>">
    <% if user_signed_in? %>
      <div class="nav-container nav-index-container">
        <nav class="nav-index">
          <div class="logo">
            <%= image_tag "logo/long.svg"%>
          </div>
          <div class="nav-items-group">
            <div class="nav-items-top">
              <%= link_to(portfolios_path,
              class: ((current_page?(portfolios_path)) || (current_page?(root_path)) ? "nav-item nav-item-active" : "nav-item")) do %>
                <div class="nav-item-active-indicator"></div>
                <%= image_tag "icons/nav/portfolio.svg" %>
                <h3 >Портфолио</h3>
              <% end %>

              <%= link_to(projects_path,
              class: (current_page?(projects_path) ? "nav-item nav-item-active" : "nav-item")) do %>
                <div class="nav-item-active-indicator"></div>
                <%= image_tag "icons/nav/project.svg" %>
                <h3>Проекты</h3>
              <% end %>

              <%= link_to(resumes_path,
              class: (current_page?(resumes_path) ? "nav-item nav-item-active" : "nav-item")) do %>
                <div class="nav-item-active-indicator"></div>
                <%= image_tag "icons/nav/resume.svg" %>
                <h3>Резюме</h3>
              <% end %>
            </div>

            <div class="nav-items-bottom">
              <%= link_to(edit_user_registration_path,
              class: (current_page?(edit_user_registration_path) ? "nav-item nav-item-active" : "nav-item"),
              id:"nav-item-account") do %>
                <div class="nav-item-active-indicator"></div>
                <%= image_tag "icons/nav/account.svg" %>
                <!-- <img class="nav-item-img" id="settings-icon"></img> -->
                <h3>Аккаунт</h3>
              <% end %>
            </div>
          </div>
        </nav>
        <footer style="position:absolute; bottom:0; margin-left: 19px; margin-bottom: 24px">
          <p class="caption">Анна Ковыляева, 2020</p>
          <%= link_to("Политика конфиденциальности", privacy_path, class:"caption link") %>
        </footer>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
