<!DOCTYPE html>
<html>
  <head>
    <title>PortFolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'tabs', 'data-turbolinks-track' => true  %>
    <%= javascript_pack_tag 'main' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <navbar class="navbar" id="navbar">
        <div><%= link_to 'Портфолио', portfolios_path %></div>
        <div><%= link_to 'Проекты', projects_path %></div>
        <div><%= link_to 'Резюме', resumes_path %></div>

        <div><%= link_to 'Оформление' %></div>
        <div><%= link_to 'Примеры' %></div>
        <div><%= link_to 'Аккаунт', account_path %></div>
      </navbar>
    <% end %>
    <%= yield %>
  </body>
</html>
