<!DOCTYPE html>
<html>
  <head>
    <title>PortFolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Портфолио', portfolios_path %>
    <%= link_to 'Проекты', projects_path %>
    <%= link_to 'Резюме', resumes_path %>

    <%= link_to 'Оформление' %>
    <%= link_to 'Примеры' %>
    <%= link_to 'Настройки' %>

    <%= yield %>
  </body>
</html>
