<!DOCTYPE html>
<html>
  <head>
    <title>P–F</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>

    <%= javascript_include_tag "nav", "data-turbolinks-track" => true  %>
    <%= javascript_include_tag "addToPortfolio", "data-turbolinks-track" => true  %>
    <%= javascript_include_tag "tabs"#, "data-turbolinks-track" => true
    %>

    <%= javascript_pack_tag "portfolioEdit" %>
    <%#= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
    <%#= javascript_pack_tag "editorjs" %>
    <%#= javascript_pack_tag "panelAddProjects" %>
    <%#= javascript_include_tag "exportPanel" %>
  </head>

  <body class="<%= controller_name %>" id="<%= action_name %>">
    <% if user_signed_in? %>
      <div class="nav-container nav-edit-container">
        <nav class="nav-edit">
          <!-- <div class="logo"> -->
            <%#= image_tag "logo/short.svg" %>
          <!-- </div> -->

          <div class="nav-items-group">
            <div class="nav-items-top">
              <%= link_to(portfolios_path,
              class: ((controller_name == "portfolios") && (["new", "edit"].include? action_name) ? "nav-item nav-item-active" : "nav-item"),
              onmouseenter:"showMenuItem()", onmouseleave:"hideMenuItem()") do %>
                <div class="nav-item-active-indicator"></div>
                <%= image_tag "icons/nav/portfolio.svg" %>
                <!-- <h3>Портфолио</h3> -->
              <% end %>

              <%= link_to(projects_path,
              class: ((controller_name == "projects") && (["new", "edit"].include? action_name) ? "nav-item nav-item-active" : "nav-item"),
              onmouseenter:"showMenuItem()", onmouseleave:"hideMenuItem()") do %>
                <div class="nav-item-active-indicator"></div>
                <%= image_tag "icons/nav/project.svg" %>
                <!-- <h3>Проекты</h3> -->
              <% end %>


              <%= link_to(resumes_path,
              class: ((controller_name == "resumes") && (["new", "edit"].include? action_name) ? "nav-item nav-item-active" : "nav-item"),
              onmouseenter:"showMenuItem()", onmouseleave:"hideMenuItem()") do %>
                <div class="nav-item-active-indicator"></div>
                <%= image_tag "icons/nav/resume.svg" %>
                <!-- <h3>Резюме</h3> -->
              <% end %>
            </div>

            <div class="nav-items-bottom">
              <%= link_to(edit_user_registration_path,
              class: (current_page?(account_path) ? "nav-item nav-item-active" : "nav-item"),
              id:"nav-item-account",
              onmouseenter:"showMenuItem()", onmouseleave:"hideMenuItem()") do %>
                <div class="nav-item-active-indicator"></div>
                <%= image_tag "icons/nav/account.svg" %>
                <!-- <h3>Аккаунт</h3> -->
              <% end %>
            </div>
          </div>
        </nav>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
